<h2>Create Query</h2>
<!--<ng-query-builder></ng-query-builder>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <b>Query Name:</b>
            <input type="text" ng-model="queryName" placeholder="Query Name" class="form-control input-sm" />
        </div>
        <div class="col-md-4">
            <b>Document Type:</b>
            <select ng-model="selectedDocumentType" ng-options="o as o.name for o in queryService.knownDocuments" class="form-control input-sm"></select>
        </div>
    </div>
</div>
<div id="uiTree" ui-tree callbacks="treeOptions">

    <script type="text/ng-template" id="groupTemplate">
        <div ng-if="isRule(item)" ui-tree-handle class="tree-node tree-node-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" ng-model="item.field" placeholder="Field Name" tooltip="{{validationMessage}}" typeahead-editable="false" typeahead="field as field.displayName for field in selectedDocumentType.fields" class="form-control input-sm" />
                    </div>
                    <div class="col-md-2">
                        <select ng-model="item.comparison" ng-options="o as o.name for o in $parent.queryService.comparisonOperators" class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="item.value" placeholder="Value" class="form-control input-sm" />
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger pull-right" ng-click="item.remove()">-</button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="isGroup(item)">
            <div class="groupSettings">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <select ng-model="item.logicalOperator" ng-options="o as o.name for o in $parent.queryService.logicalOperators" class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-info pull-right" ng-click="item.addGroup()">+ Group</button>
                            <button type="button" class="btn btn-info pull-right" ng-click="item.addRule()">+ Rule</button>
                        </div>
                    </div>
                </div>
            </div>
            
                        
            <ol ui-tree-nodes ng-model="item.items">
                <li ng-repeat="item in item.items" ui-tree-node ng-include="'groupTemplate'">
                </li>
            </ol>
        </div>
    </script>

    <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="item in data" ui-tree-node ng-include="'groupTemplate'"></li>
    </ol>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Code Style</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Json Query</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Query String</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <code>
            {{readable}}
        </code>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <pre>
            {{jsonQuery}}
        </pre>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
        <pre>
            {{queryString}}
        </pre>
    </div>
  </div>

</div>
